<div class="modal-body">
    <table>
        <tr>
            <th colspan="2"><H1>Reset Column name & type</H1></th>
        </tr>
        <tr>
            <td>
                Name: <b>{{col.displayName}}</b>
            </td>
        </tr>
        <tr>
            <td>
                Column type: <b>{{col.columnType}}</b>
            </td>
        </tr>
    </table>

    <div class="modal-footer">
        <button class="btn btn-default btn-modal" type="button" ng-click="onDoneClick( false )">Cancel</button>
        <button class="btn btn-default btn-modal" type="button" ng-click="onDoneClick( true )">Reset</button>
    </div>

</div>
