<div class="nanoPageContainer">
<div class="spacer">
  <div ng-class="{formFocus:loader||generateLoader}">
<!-- Menu Bar -->
    <table border="0" class="contentTitle" summary="layout" width="100%">
        <tr>
	        <td scope="col" align="left" ng-if="updateButton == 'Save'">
	            <h1>Create Sample</h1>
	        </td>
	
	        <td scope="col" align="left" ng-if="updateButton == 'Update'">
	            <h1>Update Sample</h1>
	        </th>
            <td align="right" width="30%">
                <button class="btn back btn-xs" ng-click="goBack()">Back</button>

                <a class="helpText" ng-click="exportJson()" href="">Export<span class="small-link-text"> (JSON)</span></a>&nbsp;
                <a class="helpText" ng-click="exportXml()" href="">Export<span class="small-link-text"> (XML)</span></a>&nbsp;

                <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Samples+in+caNanoLab#ManagingSamplesincaNanoLab-SubmitSample')" ng-if="updateButton=='Submit'">Help</a>
                <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Samples+in+caNanoLab#ManagingSamplesincaNanoLab-EditSample')" ng-if="updateButton!='Submit'">Help</a>                
                <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>
            </td>
        </tr>
    </table>
<!-- <div style="font-size:10px">{{master}}</div><br /><br />

<div style="font-size:10px">{{scratchPad}}</div> -->
<!-- Message Area -->
<div class="backButtonNote">* Please use the back button located above. The browser back button will not function properly.</div>
<div class="message">{{message}}</div>
<br>

<div ng-if="sampleData.message">
    <div class="message">{{sampleData.message}}</div>
    <br>    
</div>


<div ng-if="sampleData.errors">
    <div class="message" ng-repeat="e in sampleData.errors track by $index">
        {{e}}
    </div>
        <br>    
</div>
<div ng-if="messages">
    <div class="message" ng-repeat="e in messages track by $index">
        {{e}}
    </div>
        <br>    
</div>
<!-- Application  -->
<div ng-show="editSampleForm">
    <form name="sampleForm" id="sampleForm">

        <table  width="100%" align="center" class="submissionView" summary="layout">
            <tbody>
                <!-- Sample Name -->
                <tr>
                    <td class="cellLabel" width="20%">
                        <label for="sampleName">Sample Name *</label>
                    </td>
                    <td>
                        <input id="sampleName" ng-model="sampleData.sampleName" ng-change="changedSampleName()" type="text"  size="80">
                        <span ng-hide="true">{{$root.sampleId}}</span>
                    </td>
                </tr>
                <!-- Point of Contact -->
                <tr>
                    <td class="cellLabel">
                        Point of Contact *
                    </td>
                    <td>
                            <button ng-disabled="!sampleData.sampleName" ng-click="openPointOfContactModal(sampleId.data, {},'add')" class="btn btn-primary btn-xs">Add</button>
                    </td>
                </tr>
                <!-- Point of Contact Data -->
                <tr>
                    <td colspan="2">
                        <table class="editTableWithGrid" width="95%" align="center">
                            <caption style="display:none;">Point of Contacts</caption>
                            <tbody>
                                <tr>
                                    <th role="columnheader">
                                        Primary Contact?
                                    </th>
                                    <th role="columnheader">
                                        Contact Person
                                    </th>
                                    <th role="columnheader">
                                        Organization
                                    </th>
                                    <th role="columnheader">
                                        Role
                                    </th>
                                    <th role="columnheader"></th>
                                </tr>

                                <tr ng-repeat="poc in sampleData.pointOfContacts track by $index">
                                    <td>{{returnUserReadableBoolean(poc.primaryContact)}}</td>
                                    <td>
                                        {{poc.contactPerson}}
                                        <span ng-show='poc.contactPerson==""'>{{poc.firstName}} {{poc.lastName}}</span>
                                    </td>
                                    <td>
                                        <div ng-bind-html="poc.organization.name"></div>
                                        <div ng-bind-html="poc.address.line1"></div>
                                        <div ng-bind-html="poc.address.line2"></div>
                                        {{poc.address.city}}<span ng-show="poc.address.city">,</span> {{poc.address.stateProvince}} {{poc.address.zip}} {{poc.address.country}}
                                    </td>
                                    <td>
                                        {{poc.role}}
                                    </td>
                                    <td>
                                        <div align="right">
                                           
                                            <button 
                                                type="button" 
                                                ng-click="openPointOfContactModal(sampleId.data, poc)" 
                                                class="btn btn-primary btn-xs"
                                                >Edit
                                            </button>
                                            

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr> <!-- End of Point of Contact -->

                <!-- Keywords -->
                <tr ng-show="sampleData.pointOfContacts.length && sampleData.errors.length==0">
                    <td class="cellLabel">{{sampleService.pocData.dirty}}
                        <label for="keywords">Keywords</label>
                    </td>
                    <td>
                        <div class="keywords-container">
                            <ul id="keywords" class="keywords">
                                <li ng-repeat="keyword in sampleData.keywords track by $index">
                                    <span>{{keyword}}</span>
                                    <a  ng-click="removeKeyword(keyword)"  title="Delete keyword" href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
                                </li>
                            </ul>
                        </div>

                        <label for="newKeyword" aria-label="New Keyword"><input id="newKeyword" type="text" ng-model="newKeyword"></label>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="addKeyword()">Add</button>
                   </td>
                </tr>

				<tr ng-show="sampleData.pointOfContacts.length && sampleData.errors.length==0">
                    <td colspan="5">
                        <table width="600">
                            <ng-include src="'/caNanoLab/views/manageAccessibility.html'"></ng-include>
                        </table>
                    </td>
                </tr>

                <tr ng-show="updateButton=='Update'">


                            <td class="cellLabel">
                            Data Availability Metrics
                            </td>

                        <td>
                            <button ng-if="!sampleData.dataAvailability" ng-click="generateDataAvailability(sampleId.data)" class="btn btn-primary btn-xs">Generate</button>
                            <div id="loader" class="sample offset" ng-show="generateLoader">
                                <div id="loaderText">
                                    Generating Data Availability Metrics
                                </div>
                                <div id="loaderGraphic"></div>
                            </div>

                        </td>
                    </tr>
                    <tr ng-show="sampleData.dataAvailability && sampleData.pointOfContacts.length">
                        <td colspan="2">
                            <table class="editTableWithGrid" width="95%" align="center">
                                <caption style="display:none;">Data Availability Metrics</caption>
                                <tbody><tr>
                                    <th role="columnheader">
                                        caNanoLab Availability Score
                                    </th>
                                    <th role="columnheader">
                                        MINChar Availability Score
                                    </th>
                                    <th role="columnheader"></th>
                                </tr>
                                <tr><td>{{sampleData.dataAvailability.caNanoLabScore}}</td>
                                    <td>{{sampleData.dataAvailability.mincharScore}}</td>
                                    <td>
                                            <button ng-click="openDataAvailability(sampleId.data)" class="btn btn-primary btn-xs">Edit</button>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tr>
            </tbody>
        </table>

       <div class="form__actions editSampleButtonBar">
            <div class="form__action form__action--left" ng-if="sampleId.data">
                <button ng-click="delete()" type="button" class='btn btn-danger'>Delete</button>
                <button ng-click="copy()" type="button" class='btn btn-primary'>Copy</button>                                    
            </div>
            <div class="form__action form__action--right">
                <button ng-click="reset()" class='btn btn-danger' ng-disabled="!scratchPad.editSampleData.dirty">Reset</button> 
                <button ng-click="update()" ng-if="updateButton=='Update'" class='btn btn-primary' ng-disabled="!scratchPad.editSampleData.dirty || !sampleData.pointOfContacts.length">{{updateButton}}</button>
                <button ng-click="submitSample()" ng-if="updateButton=='Save'" class='btn btn-primary' ng-disabled="!scratchPad.editSampleData.dirty || !sampleData.pointOfContacts.length">{{updateButton}}</button>
                <button ng-click="submitForReview()" ng-if="updateButton=='Update' && sampleData.showReviewButton && submitForReviewButton" class='btn btn-primary'>Submit for Review</button>                
            </div>
        </div>
    </form>

</div>


</div>

</div></div>
<div id="loader" class="sample offset" ng-show="loader">
    <div id="loaderText">
        {{loaderText}}
    </div>
    <div id="loaderGraphic"></div>
</div>
